{% extends "../base.html" %}

{% block add %}

<!--按钮-->
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" style="padding-top: 100px; left: 100px">
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addmyModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加数据库信息
    </button>
    <button id="edit_db" class="btn btn-primary" data-toggle="modal" data-target="#">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改
    </button>
      <button id="del_db" type="onclick" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
        </button>

        {% csrf_token %}
    </form>

  </div>

</div>

<!--测试环境列表-->
<div class="container">
        <div class="row">
            <div class="col-md-12">

                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>选中</th>
                            <th>id</th>
                            <th>数据库类别</th>
                            <th>数据库名称</th>
                            <th>数据库IP地址</th>
                            <th>数据库端口</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>备注</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for db_obj in db_list %}
                            <tr>
                                <td id="che1"><input type="checkbox"/></td>
                                <td>{{ db_obj.id}}</td>
                                <td>{{ db_obj.db_type }}</td>
                                <td>{{ db_obj.db_name }}</td>
                                <td>{{ db_obj.db_ip }}</td>
                                <td>{{ db_obj.db_port }}</td>
                                <td>{{ db_obj.db_user }}</td>
                                <td>{{ db_obj.db_password }}</td>
                                <td>{{ db_obj.db_remak }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- 新增测试环境模态框 -->
    <div class="modal fade" id="addmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加数据库信息</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group">
                    <label for="db_type">数据库类别</label>
                      <span class="required">*</span>
                    <input type="text" name="db_type" id="db_type" class="form-control" placeholder="输入数据库类别">
                  </div>
                  <div class="form-group">
                    <label for="db_name">数据库名称</label>
                      <span class="required">*</span>
                    <input type="text" name="db_name" id="db_name" class="form-control" placeholder="输入数据库名称">
                  </div>
                   <div class="form-group">
                    <label for="db_ip">数据库IP地址</label>
                       <span class="required">*</span>
                        <input type="text" name="db_ip" id="db_ip" class="form-control" placeholder="输入数据库IP地址">
                  </div>
                  <div class="form-group">
                    <label for="db_port">数据库端口</label>
                      <span class="required">*</span>
                      <input name="db_port" id="db_port" class="form-control" placeholder="输入数据库的端口">

                  </div>
                  <div class="form-group">
                    <label for="db_user">用户名</label>
                      <span class="required">*</span>
                      <input name="db_user" id="db_user" class="form-control" placeholder="输入登录数据库的用户名">

                  </div>
                  <div class="form-group">
                    <label for="db_password">密码</label>
                      <span class="required">*</span>
                      <input name="db_password" id="db_password" class="form-control" placeholder="输入登录数据库的密码">
                  </div>
                  <div class="form-group">
                    <label for="db_remak">备注</label>
                      <input name="db_remak" id="db_remak" class="form-control" placeholder="输入数据库的备注信息">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary add_db">提交</button>
                  </div>


              </form>

          </div>

        </div>
      </div>

    </div>

<!-- 编辑测试环境模态框 -->
    <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加测试环境</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group" style="display:none">
                      <label for="id">id</label>
                      <input type="text" class="ipt form-control" name="id" id="id" placeholder="请输入id">
                  </div>
                  <div class="form-group">
                    <label for="edit_db_type">数据库类别</label>
                      <span class="required">*</span>
                    <input type="text" name="edit_db_type" id="edit_db_type" class="ipt form-control" placeholder="输入数据库类别">
                  </div>
                  <div class="form-group">
                    <label for="edit_db_name">数据库名称</label>
                      <span class="required">*</span>
                    <input type="text" name="edit_db_name" id="edit_db_name" class="ipt form-control" placeholder="输入数据库名称">
                  </div>
                   <div class="form-group">
                    <label for="edit_db_ip">数据库IP地址</label>
                       <span class="required">*</span>
                        <input type="text" name="edit_db_ip" id="edit_db_ip" class="ipt form-control" placeholder="输入数据库IP地址">
                  </div>
                  <div class="form-group">
                    <label for="edit_db_port">数据库端口</label>
                      <span class="required">*</span>
                      <input name="edit_db_port" id="edit_db_port" class="ipt form-control" placeholder="输入数据库的端口">

                  </div>
                  <div class="form-group">
                    <label for="edit_db_user">用户名</label>
                      <span class="required">*</span>
                      <input name="edit_db_user" id="edit_db_user" class="ipt form-control" placeholder="输入登录数据库的用户名">

                  </div>
                  <div class="form-group">
                    <label for="edit_db_password">密码</label>
                      <span class="required">*</span>
                      <input name="edit_db_password" id="edit_db_password" class="ipt form-control" placeholder="输入登录数据库的密码">
                  </div>
                  <div class="form-group">
                    <label for="edit_db_remak">备注</label>
                      <input name="edit_db_remak" id="edit_db_remak" class="ipt form-control" placeholder="输入数据库的备注信息">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary edit_db_sub">提交</button>
                  </div>


              </form>


          </div>

        </div>
      </div>

    </div>

<script>


        // 新增测试环境
        $(".add_db").click(function () {

            $.ajax({
                url: "/add_db/",
                type: "post",
                data: {
                    db_type: $("#db_type").val(),
                    db_name: $("#db_name").val(),
                    db_ip: $("#db_ip").val(),
                    db_port: $("#db_port").val(),
                    db_user: $("#db_user").val(),
                    db_password: $("#db_password").val(),
                    db_remak: $("#db_remak").val(),

                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },

                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/database/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
        });




        //编辑数据库信息

        $("#edit_db").click(function(){

            var count=0;
            var env_value;
            var env=new Array();
            var elements=$(".ipt");

            //alert(elements.length);
            $("#table").find(":checkbox:checked").each(function(){
                env_value=$(this).parent()
                for (var i=0;i<elements.length;i++){
                    env_value=env_value.next();

                    env[i]=env_value.text();
                    //alert(plan[i])

                }
                count++;
            });
            //alert(count)
            if (count==1)
            {

                //alert(plan)
                for (var i=0;i<env.length;i++){
                    $(elements[i]).val(env[i]);
                }

                $('#editMyModal').modal("show");

            }
            else if(count==0){
                toastr.error("请至少选择一个选项!")
            }
            else{
                toastr.error("编辑只能选择一个选项!");
            }
        });

        $(".edit_db_sub").click(function () {

            $.ajax({
                url: "/edit_db/",
                type: "post",
                data: {
                    id: $("#id").val(),
                    db_type: $("#edit_db_type").val(),
                    db_name: $("#edit_db_name").val(),
                    db_ip: $("#edit_db_ip").val(),
                    db_port: $("#edit_db_port").val(),
                    db_user: $("#edit_db_user").val(),
                    db_password: $("#edit_db_password").val(),
                    db_remak: $("#edit_db_remak").val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/database/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
    });

    //删除数据库信息
     $("#del_db").click(function () {
                var env_ids=new Array();

                    var count=0;

                    var i=0;
                     var row = $(this).parent().parent();
                    var pathname = window.location.pathname;
                    var url = null;
                    $("#table").find(":checkbox:checked").each(function() {

                        env_id = $(this).parent().next().text();

                        if (env_id != "") {

                            env_ids[i++] = env_id;

                        }

                        count++;

                    });

                //alert(count)
                if(count>0){
                    url = /database/+env_id+pathname.replace('/database/', '/delete/')
                     // 删除插件的应用
                swal({

                    title: "确定要删除吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: true

                },

                function () {
                    $.ajax({

                        url: url,
                        type: 'post',
                        data:{
                            delete_id: env_id,

                        },

                        success:function (ret) {
                            var data = JSON.parse(ret);
                            if(data.status == 0){
                                row.remove();

                                toastr.success(data.msg);
                                setTimeout(function () {
                                location.href = "/database/"
                            }, 2000)


                            }else{
                                toastr.error(data.msg);
                                setTimeout(function () {
                                location.href = "/database/"
                            }, 2000)
                            }


                        }
                    });

                });
                }
                else {
                    toastr.error("请至少选择一项")
                }

        });
    </script>

{% endblock %}
