{% extends "../base.html" %}

{% block add %}

<!--按钮-->
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" style="padding-top: 100px; left: 100px">
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addmyModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加邮箱信息
    </button>
    <button id="edit_email" class="btn btn-primary" data-toggle="modal" data-target="#">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改
    </button>
      <button id="del_email" type="onclick" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
        </button>

        {% csrf_token %}
    </form>

  </div>

</div>

<!--测试环境列表-->
<div class="container">
        <div class="row">
            <div class="col-md-12">

                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>选中</th>
                            <th>id</th>
                            <th>发件人邮箱</th>
                            <th>收件人邮箱</th>
                            <th>SMTP服务器</th>
                            <th>SMTP服务器端口</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>发件人头部信息</th>
                            <th>收件人头部信息</th>
                            <th>标题头部信息</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for email_obj in email_list %}
                            <tr>
                                <td id="che1"><input type="checkbox"/></td>
                                <td>{{ email_obj.id}}</td>
                                <td>{{ email_obj.sender }}</td>
                                <td>{{ email_obj.receivers }}</td>
                                <td>{{ email_obj.host_dir }}</td>
                                <td>{{ email_obj.email_port }}</td>
                                <td>{{ email_obj.username }}</td>
                                <td>{{ email_obj.password }}</td>
                                <td>{{ email_obj.Headerfrom }}</td>
                                <td>{{ email_obj.Headerto }}</td>
                                 <td>{{ email_obj.subject }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- 新增测试环境模态框 -->
    <div class="modal fade" id="addmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加邮箱配置信息</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group">
                    <label for="sender">发件人邮箱地址</label>
                      <span class="required">*</span>
                    <input type="text" name="sender" id="sender" class="form-control" placeholder="输入发件人邮箱地址">
                  </div>


                  <div class="form-group">
                    <label for="receivers">收件人邮箱地址</label>
                      <span class="required">*</span>
                    <input type="text" name="receivers" id="receivers" class="form-control" placeholder="输入收件人邮箱地址">
                  </div>
                   <div class="form-group">
                    <label for="host_dir">SMTP服务器地址</label>
                       <span class="required">*</span>
                        <input type="text" name="host_dir" id="host_dir" class="form-control" placeholder="输入SMTP服务器域名">
                  </div>
                  <div class="form-group">
                    <label for="email_port">SMTP服务器端口</label>
                      <span class="required">*</span>
                      <input name="email_port" id="email_port" class="form-control" placeholder="输入SMTP服务器端口">

                  </div>
                  <div class="form-group">
                    <label for="username">登录邮箱的用户名</label>
                      <span class="required">*</span>
                      <input name="username" id="username" class="form-control" placeholder="输入登录邮箱的用户名">

                  </div>
                  <div class="form-group">
                    <label for="password">登录邮箱的密码</label>
                      <span class="required">*</span>
                      <input name="password" id="password" class="form-control" placeholder="输入登录邮箱的密码">
                  </div>
                  <div class="form-group">
                    <label for="Header_from">发件人头部信息</label>
                      <span class="required">*</span>
                      <input name="Header_from" id="Header_from" class="form-control" placeholder="输入发件人的头部信息">

                  </div>
                  <div class="form-group">
                    <label for="Header_to">收件人头部信息</label>
                      <span class="required">*</span>
                      <input name="Header_to" id="Header_to" class="form-control" placeholder="输入收件人头部信息">

                  </div>
                  <div class="form-group">
                    <label for="subject">标题头部信息</label>
                      <span class="required">*</span>
                      <input name="subject" id="subject" class="form-control" placeholder="输入标题头部信息">

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary add_email">提交</button>
                  </div>


              </form>

          </div>

        </div>
      </div>

    </div>

<!-- 编辑测试环境模态框 -->
    <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加测试环境</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group" style="display:none">
                      <label for="id">id</label>
                      <input type="text" class="ipt form-control" name="id" id="id" placeholder="请输入id">
                  </div>
                  <div class="form-group">
                    <label for="edit_sender">发件人邮箱地址</label>
                      <span class="required">*</span>
                    <input type="text" name="edit_sender" id="edit_sender" class="ipt form-control" placeholder="输入发件人邮箱地址">
                  </div>


                  <div class="form-group">
                    <label for="edit_receivers">收件人邮箱地址</label>
                      <span class="required">*</span>
                    <input type="text" name="edit_receivers" id="edit_receivers" class="ipt form-control" placeholder="输入收件人邮箱地址">
                  </div>
                   <div class="form-group">
                    <label for="edit_host_dir">SMTP服务器地址</label>
                       <span class="required">*</span>
                        <input type="text" name="edit_host_dir" id="edit_host_dir" class="ipt form-control" placeholder="输入SMTP服务器域名">
                  </div>
                  <div class="form-group">
                    <label for="edit_email_port">SMTP服务器端口</label>
                      <span class="required">*</span>
                      <input name="edit_email_port" id="edit_email_port" class="ipt form-control" placeholder="输入SMTP服务器端口">

                  </div>
                  <div class="form-group">
                    <label for="edit_username">登录邮箱的用户名</label>
                      <span class="required">*</span>
                      <input name="edit_username" id="edit_username" class="ipt form-control" placeholder="输入登录邮箱的用户名">

                  </div>
                  <div class="form-group">
                    <label for="edit_password">登录邮箱的密码</label>
                      <span class="required">*</span>
                      <input name="edit_password" id="edit_password" class="ipt form-control" placeholder="输入登录邮箱的密码">
                  </div>
                  <div class="form-group">
                    <label for="edit_Header_from">发件人头部信息</label>
                      <span class="required">*</span>
                      <input name="edit_Header_from" id="edit_Header_from" class="ipt form-control" placeholder="输入发件人的头部信息">

                  </div>
                  <div class="form-group">
                    <label for="edit_Header_to">收件人头部信息</label>
                      <span class="required">*</span>
                      <input name="edit_Header_to" id="edit_Header_to" class="ipt form-control" placeholder="输入收件人头部信息">

                  </div>
                  <div class="form-group">
                    <label for="edit_subject">标题头部信息</label>
                      <span class="required">*</span>
                      <input name="edit_subject" id="edit_subject" class="ipt form-control" placeholder="输入标题头部信息">

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary edit_email_sub">提交</button>
                  </div>


              </form>

          </div>

        </div>
      </div>

    </div>

<script>


        // 新增测试环境
        $(".add_email").click(function () {

            $.ajax({
                url: "/add_email/",
                type: "post",
                data: {
                    sender: $("#sender").val(),
                    receivers: $("#receivers").val(),
                    host_dir: $("#host_dir").val(),
                    email_port: $("#email_port").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    Header_from: $("#Header_from").val(),
                    Header_to: $("#Header_to").val(),
                    subject: $("#subject").val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },

                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/email/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
        });




        //编辑邮箱信息

        $("#edit_email").click(function(){

            var count=0;
            var env_value;
            var env=new Array();
            var elements=$(".ipt");

            //alert(elements.length);
            $("#table").find(":checkbox:checked").each(function(){
                env_value=$(this).parent()
                for (var i=0;i<elements.length;i++){
                    env_value=env_value.next();

                    env[i]=env_value.text();
                    //alert(env[i])

                }
                count++;
            });
            //alert(count)
            if (count==1)
            {

                //alert(env)
                for (var i=0;i<env.length;i++){
                    $(elements[i]).val(env[i]);
                }

                $('#editMyModal').modal("show");

            }
            else if(count==0){
                toastr.error("请至少选择一个选项!")
            }
            else{
                toastr.error("编辑只能选择一个选项!");
            }
        });

        $(".edit_email_sub").click(function () {

            $.ajax({
                url: "/edit_env/",
                type: "post",
                data: {
                    env_id: $("#env_id").val(),
                    sender: $("#edit_sender").val(),
                    receivers: $("#edit_receivers").val(),
                    host_dir: $("#edit_host_dir").val(),
                    email_port: $("#edit_email_port").val(),
                    username: $("#edit_username").val(),
                    password: $("#edit_password").val(),
                    Header_from: $("#edit_Header_from").val(),
                    Header_to: $("#edit_Header_to").val(),
                    subject: $("#edit_subject").val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/email/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
    });

    //删除用例步骤
     $("#del_email").click(function () {
                var env_ids=new Array();

                    var count=0;

                    var i=0;
                     var row = $(this).parent().parent();
                    var pathname = window.location.pathname;
                    var url = null;
                    $("#table").find(":checkbox:checked").each(function() {

                        env_id = $(this).parent().next().text();

                        if (env_id != "") {

                            env_ids[i++] = env_id;

                        }

                        count++;

                    });

                //alert(count)
                if(count>0){
                    url = /email/+env_id+pathname.replace('/email/', '/delete/')
                     // 删除插件的应用
                swal({

                    title: "确定要删除吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: true

                },

                function () {
                    $.ajax({

                        url: url,
                        type: 'post',
                        data:{
                            delete_id: env_id,

                        },

                        success:function (ret) {
                            var data = JSON.parse(ret);
                            if(data.status == 0){
                                row.remove();

                                toastr.success(data.msg);
                                setTimeout(function () {
                                location.href = "/email/"
                            }, 2000)


                            }else{
                                toastr.error(data.msg);
                                setTimeout(function () {
                                location.href = "/email/"
                            }, 2000)
                            }


                        }
                    });

                });
                }
                else {
                    toastr.error("请至少选择一项")
                }

        });
    </script>

{% endblock %}
