{% extends "../base.html" %}

{% block add %}

<!--按钮-->
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" style="padding-top: 100px; left: 100px">
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#addmyModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加sql语句
    </button>
    <button id="edit_sql" class="btn btn-primary" data-toggle="modal" data-target="#">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改
    </button>
      <button id="del_sql" type="onclick" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
        </button>

        {% csrf_token %}
    </form>

  </div>

</div>

<!--测试环境列表-->
<div class="container">
        <div class="row">
            <div class="col-md-12">

                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>选中</th>
                            <th>id</th>
                            <th>步骤名</th>
                            <th>是否是查询</th>
                            <th>变量</th>
                            <th>sql语句</th>
                            <th>前置或者后置</th>
                            <th>状态</th>
                            <th>备注</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for sql_obj in sql_list %}
                            <tr>
                                <td id="che1"><input type="checkbox"/></td>
                                <td>{{ sql_obj.id}}</td>
                                <td>{{ sql_obj.step }}</td>
                                <td>{{ sql_obj.is_select }}</td>
                                <td>{{ sql_obj.variable }}</td>
                                <td>{{ sql_obj.sql }}</td>
                                <td>{{ sql_obj.sql_condition }}</td>
                                <td>{{ sql_obj.status }}</td>
                                <td>{{ sql_obj.remake }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- 新增测试sql模态框 -->
    <div class="modal fade" id="addmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加sql语句信息</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group">
                    <label for="api_id">测试用例步骤名称</label>
                      <span class="required">*</span>
                        <select name="api_id" id="api_id" class="form-control">
                            {% for api_obj in api_list %}
                            <option value="{{api_obj.pk}}">{{api_obj.step_name}}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="is_select" id="is_select"  checked> 是否是查询
                    </label>
                  </div>
                   <div class="form-group">
                    <label for="variable">变量</label>
                        <input type="text" name="variable" id="variable" class="form-control" placeholder="输入变量">
                  </div>
                  <div class="form-group">
                    <label for="sql">sql语句</label>
                      <span class="required">*</span>
                      <input type="text" name="sql" id="sql" class="form-control" placeholder="输入sql语句">

                  </div>
                  <div class="form-group">
                      <label>前置或者后置</label>
                      <div>
                          <label class="radio-inline">
                              <input type="radio" name="sql_condition" id="optionsRadios1" value="1" checked> 前置

                          </label>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="sql_condition" id="optionsRadios2" value="0"> 后置
                          </label>
                      </div>

                  </div>
                  <div class="form-group">
                      <label>状态</label>
                      <div>
                          <label class="radio-inline">
                              <input type="radio" name="status" id="optionsRadios1" value="1" checked> 有效

                          </label>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="status" id="optionsRadios2" value="0"> 无效
                          </label>
                      </div>

                  </div>
                  <div class="form-group">
                    <label for="remake">备注</label>
                      <input name="remake" id="remake" class="form-control" placeholder="输入sql的备注信息">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary add_sql">提交</button>
                  </div>


              </form>

          </div>

        </div>
      </div>

    </div>

<!-- 编辑测试环境模态框 -->
    <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">编辑sql语句</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  {% csrf_token %}
                  <h6 style="color: red;margin-left:10px"><span class="error"></span></h6>
                  <div class="form-group" style="display:none">
                      <label for="id">id</label>
                      <input type="text" class="ipt form-control" name="id" id="id" placeholder="请输入id">
                  </div>
                  <div class="form-group">
                    <label for="edit_step_name">测试用例步骤名称</label>
                      <span class="required">*</span>
                        <select name="edit_step_name" id="edit_step_name" class="ipt form-control">
                            {% for api_obj in api_list %}
                                <option>{{api_obj.step_name}}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="form-group">
                    <label class="ipt checkbox-inline">
                        <input type="checkbox" name="edit_is_select" id="edit_is_select"  checked> 是否是查询
                    </label>
                  </div>
                   <div class="form-group">
                    <label for="edit_variable">变量</label>
                        <input type="text" name="edit_variable" id="edit_variable" class="ipt form-control" placeholder="输入变量">
                  </div>
                  <div class="form-group">
                    <label for="sql_edit">sql语句</label>

                        <input type="text" name="sql_edit" id="sql_edit" class="ipt form-control" placeholder="输入sql语句">

                  </div>
                  <div class="form-group">
                      <label>前置或者后置</label>
                      <div>
                          <label class="ipt radio-inline">
                              <input type="radio" name="edit_sql_condition" id="edit_optionsRadios1" value="1" checked> 前置

                          </label>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="edit_sql_condition" id="edit_optionsRadios2" value="0"> 后置
                          </label>
                      </div>

                  </div>
                  <div class="form-group">
                      <label>状态</label>
                      <div>
                          <label class="ipt radio-inline">
                              <input type="radio" name="edit_status" id="optionsRadios1" value="1" checked> 有效

                          </label>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="edit_status" id="optionsRadios2" value="0"> 无效
                          </label>
                      </div>

                  </div>
                  <div class="form-group">
                    <label for="edit_remake">备注</label>
                      <input name="edit_remake" id="edit_remake" class="ipt form-control" placeholder="输入sql的备注信息">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary edit_sql_sub">提交</button>
                  </div>


              </form>


          </div>

        </div>
      </div>

    </div>

<script>

    $(function () {
        edit();
        add();

    })

    function add(){
        is_variable("#is_select", "#variable")
    }
        // 新增sql信息
        $(".add_sql").click(function () {

            $.ajax({
                url: "/add_sql/",
                type: "post",
                data: {
                    api_id: $("#api_id").val(),
                    is_select: $("*[name='is_select']:checked").val(),
                    variable: $("#variable").val(),
                    sql: $("#sql").val(),
                    sql_condition: $("*[name='sql_condition']:checked").val(),
                    status: $("*[name='status']:checked").val(),
                    remake: $("#remake").val(),

                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },

                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/sql/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
        });




        //编辑数据库信息
    function edit(){
        $("#edit_sql").click(function(){

            var count=0;
            var env_value;
            var env=new Array();
            var elements=$(".ipt");

            //alert(elements.length);
            $("#table").find(":checkbox:checked").each(function(){
                env_value=$(this).parent()
                for (var i=0;i<elements.length;i++){
                    env_value=env_value.next();

                    env[i]=env_value.text();
                    //alert(plan[i])

                }
                count++;
            });
            //alert(count)
            if (count==1)
            {

                alert(env)
                for (var i=0;i<env.length;i++){
                    $(elements[i]).val(env[i]);
                }
                // 初始化是否查询和变量输入框
                if($("#edit_variable input").val()==""){
                    $("#edit_is_select").removeAttr('checked');
                    $("#edit_variable").attr("style", "display:None");
                }
                else{
                    $("#edit_is_select").prop("checked", true);
                    $("#edit_variable").attr("style", "display:Block")
                }

                $('#editMyModal').modal("show");

            }
            else if(count==0){
                toastr.error("请至少选择一个选项!")
            }
            else{
                toastr.error("编辑只能选择一个选项!");
            }
        });
        is_variable("#edit_is_select", "#edit_variable");
    }
    //新增和编辑的时候根据该sql是否是查询判断变量输入框是否显示
    function is_variable(checkbok,ipt){
        $(checkbok).click(function () {
            if($(checkbok).is(':checked')){
                $(ipt).attr("style", "display:Block");
            }
            else{
                $(ipt).attr("style","display:None");
            }

        })
    }

        $(".edit_sql_sub").click(function () {

            $.ajax({
                url: "/edit_sql/",
                type: "post",
                data: {
                    id: $("#id").val(),
                    step_name: $("#edit_step_name").val(),
                    is_select: $("*[name='edit_is_select']:checked").val(),
                    variable: $("#edit_variable").val(),
                    sql: $("#sql_edit").val(),
                    sql_condition: $("*[name='edit_sql_condition']:checked").val(),
                    status: $("*[name='edit_status']:checked").val(),
                    remake: $("#edit_remake").val(),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {

                    if (data.status== 0) {
                        // alert(111)
                        toastr.success(data.msg);
                        if (location.search){
                                location.href = location.search.slice(6)
                        }
                        else {
                            setTimeout(function () {
                                location.href = "/sql/"
                            }, 2000)

                        }

                    }
                    else {


                        $(".error").text(data.msg);
                        setTimeout(function () {
                            $(".error").text("");

                        }, 5000)
                    }



                }

            })
    });

    //删除数据库信息
     $("#del_sql").click(function () {
                var env_ids=new Array();

                    var count=0;

                    var i=0;
                     var row = $(this).parent().parent();
                    var pathname = window.location.pathname;
                    var url = null;
                    $("#table").find(":checkbox:checked").each(function() {

                        env_id = $(this).parent().next().text();

                        if (env_id != "") {

                            env_ids[i++] = env_id;

                        }

                        count++;

                    });

                //alert(count)
                if(count>0){
                    url = /sql/+env_id+pathname.replace('/sql/', '/delete/')
                     // 删除插件的应用
                swal({

                    title: "确定要删除吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: true

                },

                function () {
                    $.ajax({

                        url: url,
                        type: 'post',
                        data:{
                            delete_id: env_id,

                        },

                        success:function (ret) {
                            var data = JSON.parse(ret);
                            if(data.status == 0){
                                row.remove();

                                toastr.success(data.msg);
                                setTimeout(function () {
                                location.href = "/sql/"
                            }, 2000)


                            }else{
                                toastr.error(data.msg);
                                setTimeout(function () {
                                location.href = "/sql/"
                            }, 2000)
                            }


                        }
                    });

                });
                }
                else {
                    toastr.error("请至少选择一项")
                }

        });
    </script>

{% endblock %}
