<{% extends "../base.html" %}

{% block add %}

    <!--警告框-->
    <div id="myAlert" class="alert alert-warning" style="display: none">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>警告！</strong>编辑时只能勾选一条。
    </div>
    <div id="myAlert1" class="alert alert-warning" style="display: none">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>警告！</strong>删除时一定要勾选一条。
    </div>
    <!--按钮-->
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button id="btn1" class="btn btn-primary"  data-toggle="modal" data-target="#addMyModal" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
            </button>
            <button id="btn2" class="btn btn-primary"  data-toggle="modal" data-target="#">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改
            </button>
            <form id="del" method="POST" action="/step_delete_data/" style="display:inline;">
                <input id="ipt1" type="text" name="id" style="display:none"/>
                <button id="btn3" type="onclick" class="btn btn-danger" >
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>删除
                </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <!--环境列表-->
    <div>
        <div>
            <table id= "table" class="table table-striped table-bordered">
                <tr>
                    <th>选中</th>
                    <th>id</th>
                    <th>步骤名</th>
                    <th>用例名</th>
                    <th>方式</th>
                    <th>信息头</th>
                    <th>请求参数</th>
                    <th>请求文件</th>
                    <th>断言</th>
                    <th style="display:None">接口依赖</th>
                    <th>优先级</th>
                    <th>步骤描述</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
                <tbody>
                {% for step_obj in api_list %}

                                <tr>
                                    <td id="che1"><input type="checkbox"/></td>
                                    <td>{{ step_obj.api_id}}</td>
                                    <td>{{ step_obj.step_name }}</td>
                                    <td>{{ step_obj.case }}</td>
                                    <td>{{ step_obj.method }}</td>
                                    <td>{{ step_obj.headers }}</td>
                                    <td>{{ step_obj.params }}</td>
                                    <td>{{ step_obj.files }}</td>
                                    <td>{{ step_obj.assert_response }}</td>
                                    <td style="display:None">{{ step_obj.api_dependency }}</td>
                                    <td>{{ step_obj.step_level }}</td>
                                    <td>{{ step_obj.step_desc }}</td>
                                    <td>{{ step_obj.status }}</td>
                                    <td>{{ step_obj.create_time|date:'Y-m-d' }}</td>

                                </tr>

                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 编辑 -->
    <div class="modal fade" id="editMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:560px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					编辑步骤
				</h4>
			</div>
			<div class="modal-body">
                <form id="edit" role="form" method='POST' action="/step_edit_data/">
                    <div class="form-group" style="display: none">
                        <label  for="id">id</label>
                        <input  type="text" class="ipt form-control" name="id" placeholder="请输入id" >
                    </div>
                    <div class="form-group">
                        <label  for="edit_step_name">步骤名</label>
                        <input  id="edit_step_name" type="text" class="ipt form-control" name="step_name" placeholder="请输入步骤名" readonly="readonly" required >
                    </div>
                    <div class="form-group">
                        <label  for="edit_case_name" >用例名</label>
                        <select id="edit_case_name" name="case_name" class="ipt form-control" required>
                            {% for case_name in case_names %}
                            <option>{{ case_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label >方式</label>
                        <br>
                        <div class="btn-group ">
                            <button id="edit_get" type="button" name="method" class="btn btn-primary" >get</button>
                            <button id="edit_post_form" type="button" name="method" class="btn btn-primary">post_form</button>
                            <button id="edit_post_body" type="button" name="method" class="btn btn-primary">post_body</button>
                            <button id="edit_post_file" type="button" name="method" class="btn btn-primary">post_file</button>
                            <input id="edit_method" name="method" type="text" style="display:None" class="ipt"  required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit_merge_headers" >信息头</label>
                       <ul id="edit_headers_ul" style="list-style-type: none" >
                            <li>
                                <input class="edit_headers" type="text"  placeholder="名称"  /><input  class="edit_headers" type="text"  placeholder="值" />
                                <input id="add_headers_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="+">
                                <input id="del_headers_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="-">
                                <input id="edit_merge_headers" type="text" style="display:None" class="ipt" name="headers"/>
                            </li>
                       </ul>
                    </div>
                    <div class="form-group" id="edit_params_div">
                        <label for="edit_merge_params" >请求参数</label>
                       <ul id="edit_params_ul" style="list-style-type: none" >
                            <li>
                                <input   type="text" class="edit_params" placeholder="参数名"  /><input   type="text" class="edit_params" placeholder="参数值" />
                                <input id="add_params_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="+">
                                <input id="del_params_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="-">
                                <input id="edit_merge_params" type="text" style="display:None" class="ipt" name="params"/>
                            </li>
                       </ul>
                    </div>
                    <div class="form-group" id="edit_params_body_div">
                        <label for="body_data_params" >Body Data数据</label>
                        <textarea  id="body_data_params" class="form-control" name="body_data_params" style="height:150px"></textarea>
                    </div>
                    <div class="form-group" id="edit_files_div">
                        <label for="edit_merge_files" >Files Upload</label>
                       <ul id="add_files_ul" style="list-style-type: none" >
                            <li>
                                <input   type="text"  placeholder="文件名称"  /><input   type="text"  placeholder="参数名称" /><input   type="text"  placeholder="MIME类型" style="width: 70px"/>
                                <input id="add_files_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="+">
                                <input id="del_files_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="-">
                                <input id="edit_merge_files" type="text" class="ipt" name="files"/>
                            </li>
                       </ul>
                    </div>
                    <div class="form-group">
                        <label for="edit_merge_assert" >断言</label>
                        <div id="edit_div_big" class="edit_open_big">
                            <div id="edit_div_small" class="edit_open_small"></div>
                        </div>

                       <ul id="edit_assert_response_ul" style="list-style-type: none" >
                            <li>
                                <input   type="text" class="edit_assert" placeholder="断言名" value="['code']" /><select class="edit_assert_Way" ><option value="assertEqual">等于</option><option value="assertNotEqual">不等于</option><option value="assertRegexpMatches">包含</option><option value="assertNotRegexpMatches">不包含</option><option value="assertGreater">大于</option><option value="assertGreaterEqual">大于等于</option><option value="assertLess">小于</option><option value="assertLessEqual">小于等于</option><option value="assertIn">在列表中</option><option value="assertNotIn">不在列表中</option></select><input   type="text" class="edit_assert" placeholder="值" />
                                <input id="add_assert_response_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="+">
                                <input id="del_assert_response_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="-">
                                <input id="edit_merge_assert" type="text" style="display:None" class="ipt" name="asserts"/>
                            </li>
                       </ul>
                    </div>

                    <div class="form-group">
                        <label for="edit_merge_api_dependency" >依赖接口</label>
                        <div id="edit_div_big_api_dependency" class="edit_open_big">
                            <div id="edit_div_small_api_dependency" class="edit_open_small"></div>
                        </div>

                       <ul id="edit_api_dependency_ul" style="list-style-type: none" >
                            <li>
                                <select class="edit_api_dependency_Step">{% for step in step_names %}<option>{{ step }}</option>{% endfor %}</select><br/>
                                <input   type="text" class="edit_api_dependency" placeholder="变量名"  /><input   type="text" class="edit_api_dependency" placeholder="路径" />
                                <input id="add_api_dependency_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="+">
                                <input id="del_api_dependency_edit" type="button" class="btn btn-primary"  style="height:24px;width:24px;text-align:center; margin:0px; padding:0px;" value="-">
                                <input id="edit_merge_api_dependency" type="text" style="display:None" class="ipt" name="api_dependency"/>
                            </li>
                       </ul>
                    </div>

                    <div class="form-group">
                        <label  for="edit_step_level">优先级</label>
                        <input  type="text" class="ipt form-control" name="edit_step_level" id="edit_step_level" placeholder="请输入优先级" >
                    </div>
                    <div class="form-group">
                        <label for="edit_step_desc">步骤描述</label>
                        <input  type="text" class="ipt form-control" name="edit_step_desc" id="edit_step_desc" placeholder="请输入步骤描述">
                    </div>
                    <div class="form-group" >
                        <label class="checkbox-inline">
                            <input type="checkbox" class="ipt" name="status" id="optionsRadios1" checked> 状态
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">关闭
				        </button>
				        <button id="edit_submit" type="onclick" class="btn btn-primary">
					    提交
				        </button>
			        </div>
                    {% csrf_token %}
                </form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
    </div>


    <script>
        //列表数据一旦超过30个字符串就只显示，25个字符串+...
        function display(){
            var elements=$("#table").find("td");
            for (var i=0;i<elements.length;i++){
                $(elements[i]).attr("title",$(elements[i]).text());
                if ($(elements[i]).text().length>=30){
                    var str=$(elements[i]).text().substring(0,25)+"...";
                    $(elements[i]).html(str);
                }
                //当鼠标在列表上悬停时，出现内容
                $(elements[i]).mouseover(function(){
                    $(this).tooltip;
                 });
            }
        }
        //搜索或者搜索分页后去根据select返回的value去确定第几个option被选中
        $(function(){
            edit();

            display();

        });

        //根据方式控制需要显示的控件
        function controlDisplay(btns,btn,elements,display_list,method){
            $(btn).click(function() {
                for (var i = 0; i < elements.length; i++) {
                    $(elements[i]).attr("style", display_list[i]);
                }
                //选中按钮变灰色,其他按钮变回白色
                for (var i=0;i<btns.length;i++){
                    if (btns[i]==btn){
                        $(btns[i]).attr("class","select_btn btn btn-default");
                    }
                    else{
                        $(btns[i]).attr("class","unselect_btn btn btn-default");
                    }
                }
                //把method的输入框填写方式
                $(method).val($(btn).text());
            });
        }
    //新增
    //序列增行和减行
    function add_line(add_btn,del_btn,ul_id,placeholder_name,placeholder_value,add_class){
        $(add_btn).click(function(){
            if (add_class!="add_assert" && add_class!="editassert" && add_class!="addApiDependency" && add_class!="editApiDependency")
            {
                $(ul_id).append("<li><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_name+"\"  /><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_value+"\" /></li>");
            }
            //断言增行特别注意
            else if(add_class=="add_assert"){
                $(ul_id).append("<li><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_name+"\"  /><select class=\"add_assert_Way\" ><option value=\"assertEqual\">等于</option><option value=\"assertNotEqual\">不等于</option><option value=\"assertRegexpMatches\">包含</option><option value=\"assertNotRegexpMatches\">不包含</option><option value=\"assertGreater\">大于</option><option value=\"assertGreaterEqual\">大于等于</option><option value=\"assertLess\">小于</option><option value=\"assertLessEqual\">小于等于</option><option value=\"assertIn\">在列表中</option><option value=\"assertNotIn\">不在列表中</option></select><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_value+"\" /></li>");
            }
            else if(add_class=="edit_assert"){
                $(ul_id).append("<li><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_name+"\"  /><select class=\"add_assert_Way\" ><option value=\"assertEqual\">等于</option><option value=\"assertNotEqual\">不等于</option><option value=\"assertRegexpMatches\">包含</option><option value=\"assertNotRegexpMatches\">不包含</option><option value=\"assertGreater\">大于</option><option value=\"assertGreaterEqual\">大于等于</option><option value=\"assertLess\">小于</option><option value=\"assertLessEqual\">小于等于</option><option value=\"assertIn\">在列表中</option><option value=\"assertNotIn\">不在列表中</option></select><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_value+"\" /></li>");
            }
            //接口依赖增行
            else if(add_class=="add_api_dependency"){
                $(ul_id).append("<li><select class=\"add_api_dependency_Step\">{% for step in step_names %}<option>{{ step }} </option>{% endfor %}</select><br/><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_name+"\"  /><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_value+"\" /></li>");
            }
            else if(add_class=="edit_api_dependency"){
                $(ul_id).append("<li><select class=\"edit_api_dependency_Step\">{% for step in step_names %}<option>{{ step }} </option>{% endfor %}</select><br/><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_name+"\"  /><input   type=\"text\" class="+add_class+" placeholder=\""+placeholder_value+"\" /></li>");
            }
        });
        $(del_btn).click(function(){
            if ($(ul_id+" li").length>1){
                $(ul_id+" li:last").remove();
            }
        });
    }

        //编辑
        function edit(){
            //编辑控制方式按钮
            //get
            controlDisplay(["#edit_get","#edit_post_form","#edit_post_body","#edit_post_file"],"#edit_get",["#edit_params_div","#edit_params_body_div","#edit_files_div"],["display:block","display:None","display:None"],"#edit_method");
            //postform
            controlDisplay(["#edit_get","#edit_post_form","#edit_post_body","#edit_post_file"],"#edit_post_form",["#edit_params_div","#edit_params_body_div","#edit_files_div"],["display:block","display:None","display:None"],"#edit_method");
            //postbody
            controlDisplay(["#edit_get","#edit_post_form","#edit_post_body","#edit_post_file"],"#edit_post_body",["#edit_params_div","#edit_params_body_div","#edit_files_div"],["display:None","display:block","display:None"],"#edit_method");
            //postfile
            controlDisplay(["#edit_get","#edit_post_form","#edit_post_body","#edit_post_file"],"#edit_post_file",["#edit_params_div","#edit_params_body_div","#edit_files_div"],["display:block","display:None","display:block"],"#edit_method");

            //编辑控制信息头，参数，断言增行和减行
            //信息头
            add_line("#addheadersedit","#delheadersedit","#editheadersul","名称","值","editheaders");
            //参数
            add_line("#addparamsedit","#delparamsedit","#editparamsul","参数名","参数值","editparams");
            //断言
            add_line("#addassert_responseedit","#delassert_responseedit","#editassert_responseul","断言名","值","editassert");
            //接口依赖增行
            add_line("#addApiDependencyedit","#delApiDependencyedit","#editApiDependencyul","变量名","路径","editApiDependency");
            //是否要使用断言
            $("#editdivbig").click(function(){
                if ($("#editdivbig").attr("class")=="addopenbig"){
                    $("#editdivbig").attr("class","addclosebig");
                    $("#editdivsmall").attr("class","addclosesmall");
                    $("#editassert_responseul").attr("style","display:None");
                    //删除断言属性
                    $("#editmergeasserts").removeAttr("name");
                }
                else{
                    $("#editdivbig").attr("class","addopenbig");
                    $("#editdivsmall").attr("class","addopensmall");
                    $("#editassert_responseul").attr("style","list-style-type: none;display:block");
                    //添加断言属性
                    $("#editmergeasserts").attr("name","asserts");
                }
            });

            //是否要使用接口依赖
            $("#editdivbigApiDependency").click(function(){
                if ($("#editdivbigApiDependency").attr("class")=="addopenbig"){
                    $("#editdivbigApiDependency").attr("class","addclosebig");
                    $("#editdivsmallApiDependency").attr("class","addclosesmall");
                    $("#editApiDependencyul").attr("style","display:None");
                    //删除断言属性
                    $("#editmergeApiDependencys").removeAttr("name");
                }
                else{
                    $("#editdivbigApiDependency").attr("class","addopenbig");
                    $("#editdivsmallApiDependency").attr("class","addopensmall");
                    $("#editApiDependencyul").attr("style","list-style-type: none;display:block");
                    //添加断言属性
                    $("#editmergeApiDependencys").attr("name","ApiDependencys");
                }
            });

            $("#btn2").click(function(){
                $("#myAlert").css("display","none");
                $("#myAlert1").css("display","none");
                var count=0;
                var env_value;
                var env=new Array();
                var elements=$(".ipt");
                $("#table").find(":checkbox:checked").each(function(){
                    env_value=$(this).parent()
                    for (var i=0;i<elements.length;i++){
                        env_value=env_value.next()
                        //alert(env_value.attr("title"));
                        env[i]=env_value.attr("title");
                    }
                    //alert(env)
                    count++;
                });
                if (count==1)
                {
                    alert(env);
                    for (var i=0;i<env.length-1;i++){
                        $(elements[i]).val(env[i]);
                    }
                    if (env[env.length-1]=="True"){
                        $(elements[env.length-1]).prop('checked',true);
                    }
                    else{
                        $(elements[env.length-1]).removeAttr('checked');
                    }
                    $('#editMyModal').modal("show");
                }
                else{
                    $("#myAlert").css("display","inherit");
                }
                //点开编辑按钮，method初始化
                var methoddic={"get":"#editget","postform":"#editpostform","postbody":"#editpostbody","postfile":"#editpostfile"}
                $(methoddic[$("#editmethod").val()]).trigger("click");

                //headers,params,assert初始化
                function dellineinit(inputclass,dellinebtn){
                    for (var i=0;i<$(inputclass).length;i++){
                        $(dellinebtn).trigger("click");
                    }
                }
                function editinit(mergebtn,addlinebtn,dellinebtn,inputclass){
                    if ($(mergebtn).val()!=""){
                        var JSONOBJ=JSON.parse($(mergebtn).val());
                        for (var i in JSONOBJ){
                            $(addlinebtn).trigger("click");
                            //alert(JSONOBJ[i]);
                        }
                        $(dellinebtn).trigger("click");
                        //给每行赋值
                        var elements=$(inputclass);
                        var assertwayelements=$(".editassertWay");
                        var ApiDependencyelements=$(".editApiDependencyStep");
                        var j=0;
                        var f=0;
                        if (inputclass!=".editassert" && inputclass!=".editApiDependency"){
                            for (var i in JSONOBJ){
                                $(elements[j]).val(i);
                                $(elements[j+1]).val(JSONOBJ[i]);
                                j+=2;
                            }
                        }
                        //断言特殊处理
                        else if(inputclass==".editassert"){
                            for (var i in JSONOBJ){
                                $(elements[j]).val(i);
                                for (var k in JSONOBJ[i]){
                                    $(elements[j+1]).val(JSONOBJ[i][k]);
                                    //配置断言方式
                                    $(assertwayelements[f]).val(k);
                                }
                                j+=2;
                                f++;
                            }
                        }
                        //接口依赖特殊处理
                        else if(inputclass==".editApiDependency"){
                            for (var i in JSONOBJ){
                                $(elements[j]).val(i);
                                for (var k in JSONOBJ[i]){
                                    $(elements[j+1]).val(JSONOBJ[i][k]);
                                    //配置断言方式
                                    $(ApiDependencyelements[f]).val(k);
                                }
                                j+=2;
                                f++;
                            }
                        }
                    }
                }
                //每次点击修改 先把信息头参数，断言行数归1
                dellineinit(".editheaders","#delheadersedit");
                dellineinit(".editparams","#delparamsedit");
                dellineinit(".editassert","#delassert_responseedit");
                dellineinit(".editApiDependency","#delApiDependencyedit");
                //headers初始化新增行数输入对应的数据
                editinit("#editmergeheaders","#addheadersedit","#delheadersedit",".editheaders");
                //params初始化新增行数输入对应的数据
                editinit("#editmergeparams","#addparamsedit","#delparamsedit",".editparams");
                //assert初始化新增行数输入对应的数据
                editinit("#editmergeasserts","#addassert_responseedit","#delassert_responseedit",".editassert");
                //ApiDependency初始化新增行数输入对应的数据
                editinit("#editmergeApiDependencys","#addApiDependencyedit","#delApiDependencyedit",".editApiDependency");
                //断言开关
                if ($("#editmergeasserts").val()==""){
                    $("#editdivbig").attr("class","addclosebig");
                    $("#editdivsmall").attr("class","addclosesmall");
                    $("#editassert_responseul").attr("style","display:None");
                    //删除断言属性
                    $("#editmergeasserts").removeAttr("name");
                }
                else{
                    $("#editdivbig").attr("class","addopenbig");
                    $("#editdivsmall").attr("class","addopensmall");
                    $("#editassert_responseul").attr("style","list-style-type: none;display:block");
                    //添加断言属性
                    $("#editmergeasserts").attr("name","asserts");
                }

                //接口依赖开关
                if ($("#editmergeApiDependencys").val()==""){
                    $("#editdivbigApiDependency").attr("class","addclosebig");
                    $("#editdivsmallApiDependency").attr("class","addclosesmall");
                    $("#editApiDependencyul").attr("style","display:None");
                    //删除断言属性
                    $("#editmergeApiDependencys").removeAttr("name");
                }
                else{
                    $("#editdivbigApiDependency").attr("class","addopenbig");
                    $("#editdivsmallApiDependency").attr("class","addopensmall");
                    $("#editApiDependencyul").attr("style","list-style-type: none;display:block");
                    //添加断言属性
                    $("#editmergeApiDependencys").attr("name","ApiDependencys");
                }
                //如果是POSTbody得修改参数内容
                if ($("#editmethod").val()=="postbody"){
                    $("#editparamsbodydiv textarea").val($("#editmergeparams").val());
                    $("#editmergeparams").val("");
                    var len=$(".editparams").length;
                    for (var i=0;i<len;i++){
                        if (i==len-1){
                            $(".editparams").each(function(index){
                                $(this).val("");
                            });
                        }
                        else{
                            $("#delparamsedit").trigger("click");
                        }
                    }

                }
                else{
                    $("#editparamsbodydiv textarea").val("");
                }

                //headers，params和断言数据合并转成json字符串
                function mergeData(btn,selectinput){
                    var elements=$(selectinput);
                    var obj={};
                    if (selectinput!=".editassert" && selectinput!=".editApiDependency"){
                        for (var i=0;i<elements.length;i+=2){
                            if($(elements[i]).val()){
                                obj[$(elements[i]).val()]=$(elements[i+1]).val();
                            }
                        }
                    }
                    //断言的时候数据特殊处理
                    else if(selectinput==".editassert"){
                        var assertwayelements=$(".editassertWay");
                        j=0;
                        for (var i=0;i<elements.length;i+=2){
                            if($(elements[i]).val()){
                                var assertwayobj={};
                                assertwayobj[$(assertwayelements[j]).val()]=$(elements[i+1]).val();
                                j+=1;
                                obj[$(elements[i]).val()]=assertwayobj;
                            }
                        }
                    }
                    //接口依赖的时候数据特殊处理
                    else if(selectinput==".editApiDependency"){
                    var ApiDependencyStepelements=$(".editApiDependencyStep");
                    j=0;
                    for (var i=0;i<elements.length;i+=2){
                        if($(elements[i]).val()){
                            var ApiDependencyStepobj={};
                            ApiDependencyStepobj[$(ApiDependencyStepelements[j]).val()]=$(elements[i+1]).val();
                            j+=1;
                            obj[$(elements[i]).val()]=ApiDependencyStepobj;
                        }
                    }
                }
                    objstring=JSON.stringify(obj);
                    $(btn).val(objstring);
                }
                //提交的时候把先把数据合并
                $("#editsubmit").click(function() {
                    //步骤名不为空
                    if ($("#editstep_name").val() != "") {
                        //把信息头的数据合并放到input 的id为editmergeheaders里
                        mergeData("#editmergeheaders", ".editheaders");
                        //把参数的数据合并放到input 的id为editmergeparams里
                        mergeData("#editmergeparams", ".editparams");
                        //把断言的数据合并放到input 的id为editmergeasserts里
                        mergeData("#editmergeasserts", ".editassert");
                        //把接口依赖的数据合并放到input 的id为editmergeasserts里
                        mergeData("#editmergeApiDependencys", ".editApiDependency");
                        $("#edit").submit();
                    }
                });
            });
        }



    </script>

{% endblock %}